body{
    background: #fff;
}
.nav{
    text-transform: uppercase;
}
.navbar-brand {
    float: left;
    height: 50px;
    padding: 14px 15px;
    font-size: 18px;
    line-height: 24px;
}

#body{
    margin-top: 100px;
}
.box{
    background: #f7f7f9;
    padding: 10px;
}
.loader{
    width: 100px;
}
